<div id="create-poll-form">
	<h3>Create a poll</h3>
	<p>Fill in the information below to create your poll.</p>
	<input id="create-poll-question" type="text" ng-model="poll.question" />
	<ul>
		<li ng-repeat="(i, option) in poll.options track by $index">
			<input type="text" ng-model="poll.options[i]" />
			<span class="remove-option" ng-click="removeOption(i)"><i class="fa fa-remove"></i></span>
		</li>
	</ul>
	<button class="btn btn-default" ng-click="addOption()">Add another option</button>
	<button class="btn btn-default" ng-click="submitPoll()">Submit poll</button>
</div>