<div ng-show="problem" id="problem">
	<p>Error: {{ problem }}</p>
</div>

<h3 ng-hide="sharing">Click on a poll question to view more details.</h3>
<div class="container-fluid poll-item" ng-repeat="poll in polls" ng-hide="sharing">
	<a href="/my-poll?id={{poll._id}}">{{ poll.question }}</a><br>
	<span class="creation-date">created: {{ poll.created }}</span> | <span class="share-poll" ng-click="share($index)">share</span> | <span class="delete-poll" ng-click="delete($index)">delete</span>
</div>

<div ng-show="sharing" id="sharing" class="col-sm-6 col-sm-offset-3">
	<br><p>Share this link with people who you want to vote on your poll:</p>
	<div class="well">{{ share_link }}</div>
</div>