<div ng-show="problem" id="problem">
	<p>Error: {{ problem }}</p>
</div>

<div id="get-poll-id" ng-hide="poll_retrieved">
	<div class="col-sm-6 col-sm-offset-3">
		<h3>Share your opinion</h3>
		<p>Enter the Poll ID of the poll to which you wish to contribute below:</p>
		<input type="text" ng-model="poll_id" /><br><br>
		<button class="btn btn-default" ng-click="goVote()">Go!</button>
	</div>
</div>

<div class="container-fluid" id="vote" ng-show="poll_retrieved">
	<div class="col-sm-6 col-sm-offset-3">
		<h3>{{ poll.question }}</h3>
		<form>
			<div ng-repeat="option in poll.options">
				<div class="col-sm-8">
					{{ option }}
				</div>
				<div class="col-sm-4">
					<input type="radio" name="voteoption" ng-click="setVote(option)" />
				</div>
				<br>
			</div>
			<button class="btn btn-default" ng-click="submitVote()">Vote</button>
		</form>
		
	</div>
	
</div>