<!DOCTYPE html>
<html ng-app="pollApp">
<head>
	<title>Create New Poll | Quick-Poll</title>
	<!-- Import Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Import custom CSS -->
	<link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body ng-controller="createController as ctrl">
	<div id="heading-banner">
		<h1><a href="/"><b>Quick-Poll<b></a></h1>
		<p>The simplest way to gather opinions.</p>
	</div>
	<h3>Create New Poll</h3>
	<div id="create-poll-form" class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6">
		<form action="" method="post">
			<input type="text" class="poll-question" name="question" placeholder="Question..." />
			<ul>	
				<li ng-repeat="option in options">
					<input class="poll-option" placeholder="{{ option.val }}" ng-model="option.val" />
				</li>
			</ul>
			<button type="button" ng-click="ctrl.addOption()">Add option</button>
		</form>
	</div>

	<!-- Import AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<!-- Import Angular Controller -->
	<script type="text/javascript" src="pollApp.js"></script>
</body>
</html>