<!DOCTYPE html>
<html>
<head>
	<title>Create New Poll | Quick-Poll</title>
	<!-- Import Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Import custom CSS -->
	<link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body>
	<div id="heading-banner">
		<h1><a href="/"><b>Quick-Poll<b></a></h1>
		<p>The simplest way to gather opinions.</p>
	</div>
	<h3>Create New Poll</h3>
	
</body>
</html>