<!DOCTYPE html>
<html>
<head>
	<title>Log in | Quick-Poll</title>
	<!-- Import Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<!-- Import custom CSS -->
	<link rel="stylesheet" type="text/css" href="custom.css">
</head>
<body>
	<div id="heading-banner">
		<h1><a href="/"><b>Quick-Poll<b></a></h1>
		<p>The simplest way to gather opinions.</p>
	</div>
	<h3>Please enter your details below</h3>
	<form action="" method="post">
		Username: 
		<input type="text" name="username" />
		<br><br>
		Password: 
		<input type="password" name="password" />
		<br><br>
		<input type="submit" value="Log In" />
	</form>
	
</body>
</html>