<!DOCTYPE html>
<html>
<head>
	<title>Log in | Quick-Poll</title>
	<!-- Import Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<form action="" method="post">
		<input type="text" name="username" placeholder"Username" />
		<input type="password" name="password" placeholder="Password" />
		<input type="submit" value="Log In" />
	</form>
</body>
</html>