body {
	text-align: center;
	font-family: 'Cambay', sans-serif;
	color: #A9E5BB;
	background-color: #2D1E2F;
}

body a {
	color: #A9E5BB;
	font-weight: bold;
}
body a:hover {
	color: #A9E5BB;
	font-style: italic;
	text-decoration: none;
}

.btn-default {
	background-color: #A9E5BB;
	color: #2D1E2F;
	font-weight: bold;
}
.btn-default:hover {
	background-color: #F72C25;
	color: #A9E5BB;
}

input {
	background-color: #A9E5BB;
	color: #2D1E2F;
	border-radius: 2px;
}

.back {
	font-size: 1.2em;
	text-align: left;
	margin: 15px;
}
.back a:hover {
	font-style: normal !important;
}

#banner {
	font-family: 'Satisfy', cursive;
	padding: 5px;
	background-color: #F72C25;
	color: #A9E5BB;
}
#banner h1 {
	font-size:	5em;
}
#banner p {
	font-size: 2em;
}
#banner a {
	text-decoration: none;
	color: #A9E5BB;
}
#banner a:hover {
	font-style: normal;
}

#problem{
	color: red;
}

.home-tile {
	font-weight: bold;
	background-color: #A9E5BB;
	color: #2D1E2F;
	padding: 25px 0px 25px 0px;
	border-radius: 5px;
}
.home-tile:hover {
	background-color: #F72C25;
	color: #A9E5BB;
}

#create-poll-question {
	margin-bottom: 15px;
	font-size: 20px;
}
#create-poll-form ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#create-poll-form button {
	margin: 15px 5px 5px 15px;
}
.remove-option:hover {
	cursor: pointer;
}

.poll-item {
	margin-bottom: 15px;
}
.poll-item a {
	font-size: 25px;
	font-weight: normal;
}
.poll-item a:hover {
	font-style: normal;
	font-weight: bold;
}
.poll-item .share-poll:hover,
.poll-item .delete-poll:hover {
	cursor: pointer;
	font-weight: bold;
}
.poll-item .delete-poll {
	color: #F72C25;
}

.chart rect {
	fill: #5B7F77;
}
.chart text {
	fill: #A9E5BB;
	font: 10px sans-serif;
	text-anchor: end;
}

#sharing .well {
	color: #2D1E2F;
	background-color: #A9E5BB;
	font-size: 1.5em;
}

#custom-option-plus:hover {
	cursor: pointer;
}