body {
	text-align: center;
}

#banner {
	padding: 15px;
	background-color: blue;
	color: white;
}
#banner a {
	text-decoration: none;
	color: white;
}

#problem{
	color: red;
}

#create-poll-question {
	margin-bottom: 15px;
	font-size: 20px;
}
#create-poll-form ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
#create-poll-form button {
	margin: 15px 5px 5px 15px;
}

#my-polls ul {
	list-style-type: none;
}