body {
	text-align: center;
}

#heading-banner {
	background-color: blue;
	color: white;
	padding: 10px;
	margin-bottom: 15px;
}

#heading-banner a {
	text-decoration: none;
	color: white;
}

#sign-up-form {

}